PATH_SEGMENTS_ALLOWED="3"
PORT="5000"
SITE_NAME_EN="English name"
SITE_NAME_FR="French name"
WORDPRESS_URL="https://your-wordpress-site.ca"
WORDPRESS_USER="admin-user@example.com"
WORDPRESS_PASSWORD="admin-user-app-password"
